<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider" search:require="solr">
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <include hint="list:AddIncludedField">
                            <fieldId>{558F9307-EBAF-480D-88B5-DFE9E63A66DE}</fieldId>
                            <fieldId>{39C4902E-9960-4469-AEEF-E878E9C8218F}</fieldId>
                        </include>
                    </documentOptions>
                </defaultSolrIndexConfiguration>
                <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure" search:require="Azure">
                    <documentOptions type="Sitecore.ContentSearch.Azure.CloudSearchDocumentBuilderOptions,Sitecore.ContentSearch.Azure">
                        <include hint="list:AddIncludedField">
                            <fieldId>{558F9307-EBAF-480D-88B5-DFE9E63A66DE}</fieldId>
                            <fieldId>{39C4902E-9960-4469-AEEF-E878E9C8218F}</fieldId>
                        </include>
                    </documentOptions>
                </defaultCloudIndexConfiguration>
                <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider" search:require="lucene">
                    <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
                        <include hint="list:AddIncludedField">
                            <fieldId>{558F9307-EBAF-480D-88B5-DFE9E63A66DE}</fieldId>
                            <fieldId>{39C4902E-9960-4469-AEEF-E878E9C8218F}</fieldId>
                        </include>
                    </documentOptions>
                </defaultLuceneIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
  </sitecore>
</configuration>