/* Click to copy panel */
.panel-url {
    word-wrap: break-word;
    cursor: pointer;
}

/* Height fix for datepicker time select */
.bootstrap-datetimepicker-widget td span {
    height: auto;
    line-height: normal;
}

/* Disable manual input of date and time */
.form-control[readonly] {
    cursor: default;
    background-color: #fff;
}
